pipeline/get_filename_with_filter.json
{
	"name": "get_filename_with_filter",
	"properties": {
		"activities": [
			{
				"name": "get_tablename",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "output",
						"type": "DatasetReference",
						"parameters": {
							"filename": "*.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FilterChildTable",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "get_tablename",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_tablename').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, 'child' )",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-20T13:37:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}