pipeline/pl_fail_send_mail_logic_app.json
{
	"name": "pl_fail_send_mail_logic_app",
	"properties": {
		"activities": [
			{
				"name": "fail",
				"description": "",
				"type": "Fail",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"message": "error pipeline",
					"errorCode": "2200"
				}
			},
			{
				"name": "send_mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "fail",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://sendmailfordemo.azurewebsites.net:443/api/sendmail/triggers/manual/invoke?api-version=2022-05-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Yw6DqsRK6UXklVwNB64MbymeW3uIpl9gV-HGEaZN750",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"@{pipeline().Pipeline} FAILED!\",\n    \"message\": \"Error: @{activity('fail').error.message}\",\n    \"color\": \"Red\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}