pipeline/pl_fail_send_email_webhook.json
{
	"name": "pl_fail_send_email_webhook",
	"properties": {
		"activities": [
			{
				"name": "send_email",
				"type": "WebHook",
				"dependsOn": [
					{
						"activity": "fail",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"url": "https://sendmailfordemo.azurewebsites.net:443/api/sendmail/triggers/manual/invoke?api-version=2022-05-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Yw6DqsRK6UXklVwNB64MbymeW3uIpl9gV-HGEaZN750",
					"method": "POST",
					"body": {
						"title": "@{pipeline().Pipeline} FAILED!",
						"message": "Error: @{activity('fail').error.message}",
						"color": "Red",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"pipelineRunId": "@{pipeline().RunId}",
						"time": "@{utcnow()}"
					},
					"timeout": "00:00:20"
				}
			},
			{
				"name": "fail",
				"description": "",
				"type": "Fail",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"message": "error pipeline",
					"errorCode": "2200"
				}
			}
		],
		"annotations": []
	}
}