pipeline/pl_sqlsv_to_csv_with_lookup_loop.json
{
	"name": "pl_sqlsv_to_csv_with_lookup_loop",
	"properties": {
		"activities": [
			{
				"name": "get_tablename",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select *\nfrom INFORMATION_SCHEMA.TABLES\nwhere TABLE_TYPE = 'BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "demodb",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "data3p"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "get_each_table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_tablename",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_tablename').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Export_table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "demodb",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "output",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(item().table_name,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"YYYYMM": {
				"type": "String"
			},
			"YYYYMM_": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-18T08:34:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}